@charset "UTF-8";
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btn__show-more {
  padding: 15px 30px;
  font-weight: 600;
  line-height: 1.3;
  font-size: 16px;
  text-transform: uppercase;
  border: 3px solid #1e4776;
  border-radius: 50px;
  background-color: #ffffff;
  color: #1e4776;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 5rem;
}
@media (max-width: 850px) {
  .btn__show-more {
    margin-top: 40px;
  }
}
.btn__show-more:hover {
  color: #ffffff;
  background-color: #1e4776;
}

.header__wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  position: relative;
}
.header__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(./../img/svg/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  -webkit-animation: transform 30s infinite;
  animation: transform 30s infinite;
}
@media (max-width: 850px) {
  .header__wrap {
    padding: 100px 10px;
    height: 100%;
  }
}
.header__information {
  text-align: center;
  color: #ffffff;
}
.header__title {
  font-weight: 600;
  font-size: 74px;
  line-height: 130%;
  margin-bottom: 38px;
  letter-spacing: 0.05em;
}
@media (max-width: 900px) {
  .header__title {
    font-size: 56px;
    margin-bottom: 22px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  .header__title {
    font-size: 32px;
  }
}
.header__description {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
}
@media (max-width: 900px) {
  .header__description {
    max-width: 500px;
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .header__description {
    max-width: 400px;
    font-size: 12px;
  }
}
@media (max-width: 550px) {
  .header__description {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  .header__img {
    bottom: 0px;
  }
}
.header__to-bottom {
  width: 40px;
  height: 70px;
  border: 2px solid #fff;
  border-radius: 20px;
  position: absolute;
  bottom: 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__to-bottom:hover {
  -webkit-transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  transform: translate(0, 25%);
}
.header__to-bottom::before {
  content: "";
  width: 10px;
  height: 15px;
  background: #a9a9a9;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 40%;
  -webkit-animation: tobottom 1.5s infinite;
  animation: tobottom 1.5s infinite;
}
@media (max-width: 900px) {
  .header__to-bottom {
    width: 25px;
    height: 40px;
  }
  .header__to-bottom::before {
    width: 6px;
    height: 10px;
    background: #a9a9a9;
    top: 3px;
  }
}

@-webkit-keyframes transform {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes transform {
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes tobottom {
  100% {
    opacity: 0;
    top: 30px;
  }
}
@keyframes tobottom {
  100% {
    opacity: 0;
    top: 30px;
  }
}
@media (max-width: 900px) {
  @-webkit-keyframes tobottom {
    100% {
      opacity: 0;
      top: 15px;
    }
  }
  @keyframes tobottom {
    100% {
      opacity: 0;
      top: 15px;
    }
  }
}
.footer {
  background-color: #1e4776;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 108px;
  position: relative;
}
@media (max-width: 1050px) {
  .footer {
    padding-bottom: 10px;
    padding-top: 30px;
  }
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
.footer__btn-to-top {
  display: inline-block;
  background-color: rgba(126, 155, 189, 0.7019607843);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  -o-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.footer__btn-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.footer__btn-to-top:hover {
  cursor: pointer;
  background-color: #7e9ec9;
}
.footer__btn-to-top:active {
  background-color: #555;
}
.footer__btn-to-top.show {
  opacity: 1;
  visibility: visible;
}
.footer__info {
  color: #7e9ec9;
  line-height: 1.3;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 350px;
}
.footer__info-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: -10px;
}
@media (max-width: 1050px) {
  .footer__info-name {
    margin-bottom: 5px;
    font-size: 20px;
  }
}
.footer__info-profession {
  font-weight: 600;
  margin-bottom: 15px;
}
.footer__socials {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 350px;
}
@media (max-width: 1050px) {
  .footer__socials {
    margin-bottom: 30px;
  }
}
.footer__socials-desc {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}
.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1050px) {
  .footer__socials-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__socials-item {
  list-style-type: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__socials-item:not(:last-child) {
  margin-right: 30px;
}
.footer__socials-item:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  -o-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.footer__contact {
  max-width: 350px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 1050px) {
  .footer__contact {
    margin-bottom: 30px;
  }
}
.footer__contact-btn {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 16px;
  border: 3px solid #ffffff;
  color: #ffffff;
  padding: 15px 30px;
}
.footer__contact-btn:hover {
  color: #1e4776;
  background-color: #ffffff;
}
@media (max-width: 1050px) {
  .footer__contact-btn {
    font-size: 14px;
  }
}
.footer__contact-desc {
  font-weight: 400;
  line-height: 1.3;
  color: #7e9ec9;
}

/* Обнуление */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.works {
  padding: 80px 0;
}
@media (max-width: 850px) {
  .works {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
.works__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 70px;
}
@media (max-width: 850px) {
  .works__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.works__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 850px) {
  .works__wrap {
    gap: 15px;
  }
}
.works__card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  width: calc(50% - 15px);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media (max-width: 850px) {
  .works__card {
    width: 100%;
  }
}
.works__card:hover {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}
.works__card-link {
  color: #000000;
  display: block;
  text-decoration: none;
  padding: 20px 20px 30px 20px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media (max-width: 768px) {
  .works__card-link {
    padding: 15px;
  }
}
.works__card-link:hover {
  color: #406ea3;
}
.works__card-bg {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
}
.works__card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.works__card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .works__card-title {
    font-size: 20px;
    margin-bottom: 8px;
  }
}
.works__card-subtitle {
  font-weight: 400;
  line-height: 1.3;
}
@media (max-width: 768px) {
  .works__card-subtitle {
    font-size: 14px;
  }
}
.works__card:nth-child(n+7) {
  display: none;
}
.works__card.is-visible {
  display: block;
}
.works__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project {
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
}
@media (max-width: 768px) {
  .project {
    padding-bottom: 45px;
    padding-top: 25px;
  }
}
.project__header {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .project__header {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.project__image {
  margin-bottom: 70px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 768px) {
  .project__image {
    margin-bottom: 35px;
  }
}
.project__description {
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .project__description {
    margin-bottom: 30px;
  }
}
.project__link {
  display: inline-block;
  cursor: pointer;
  color: #7e9ec9;
  margin-bottom: 60px;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 0 auto;
  margin-left: 10px;
}
.project__link:hover {
  background-color: #1e4776;
  color: #ffffff;
}
.project__button {
  display: inline-block;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: #1e4776;
  padding: 20px 30px;
  border: 3px solid #1e4776;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media (max-width: 768px) {
  .project__button {
    font-size: 13px;
    padding: 15px 30px;
  }
}
.project__button:hover {
  background-color: #1e4776;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */