.footer {
  background-color: #1e4776;
  color: #ffffff;
  padding-top: 45px;
  padding-bottom: 108px;
  position: relative;

  @media (max-width: 1050px) {
    padding-bottom: 10px;
    padding-top: 30px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1050px) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
  }

  &__btn-to-top {
    display: inline-block;
    background-color: #7e9ec9;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;

    &::after {
      content: "\f077";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size: 2em;
      line-height: 50px;
      color: #fff;
    }

    &:hover {
      cursor: pointer;
      background-color: #7e9bbd80;
    }

    &:active {
      background-color: #555;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }

  }

  &__info {
    color: #7e9ec9;
    line-height: 1.3;
    flex-grow: 1;
    max-width: 350px;

    &-name {
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 15px;
      margin-top: -10px;

      @media (max-width: 1050px) {
        margin-bottom: 5px;
        font-size: 20px;
      }
    }

    &-profession {
      font-weight: 600;
      margin-bottom: 15px;
    }
  }

  &__socials {
    flex-grow: 1;
    max-width: 350px;

    @media (max-width: 1050px) {
      margin-bottom: 30px;
    }

    &-desc {
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 15px;
    }

    &-list {
      display: flex;

      @media (max-width: 1050px) {
        justify-content: center;
      }
    }

    &-item {
      list-style-type: none;
      transition: all 0.3s ease;

      &:not(:last-child) {
        margin-right: 30px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__kontakt {
    max-width: 350px;
    flex-grow: 1;

    @media (max-width: 1050px) {
      margin-bottom: 30px;
    }

    &-btn {
      font-weight: 600;
      line-height: 1.3;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 16px;
      display: inline-block;
      border: 3px solid #ffffff;
      border-radius: 50px;
      padding: 15px 30px;
      transition: all 0.2s ease-in;

      @media (max-width: 1050px) {
        font-size: 14px;
      }

      &:hover {
        color: #1e4776;
        background-color: #ffffff;
      }
    }

    &-desc {
      font-weight: 400;
      line-height: 1.3;
      color: #7e9ec9;
    }
  }
}
