.header {
  &__wrap {
    background-image: url(./../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    @media (max-width: 850px) {
      padding: 100px 10px;
      height: 100%;
    }
  }

  &__information {
    text-align: center;
    color: #ffffff;
  }

  &__title {
    font-weight: 600;
    font-size: 56px;
    line-height: 130%;
    margin-bottom: 25px;

    @media (max-width: 550px) {
      font-size: 32px;
    }
  }

  &__description {
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    max-width: 500px;

    @media (max-width: 550px) {
      font-size: 16px;
    }
  }

  &__img {
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px;
    display: flex;

    @media (max-width: 850px) {
      bottom: 0px;
    }
  }
}
